* {
	margin:0;
	padding:0;
	border:none;
}

body {
}

h1 {
	font-size:3em;
	/*add font family later*/
}

#title {
	text-align:center;
}

#navbar {

}

#navbar li {
	text-align:center;
	display:inline;
	list-style-type: none;
	width:33.33%;
	float:left;
}

#navbar a {
	text-decoration:none;
	color:inherit;
}

#navbar a:hover {
	border-bottom:1px solid blue;
	font-weight:bold;
}

footer{

}